/* colores propios */
:root {
    --main-bg-color: #500505;
    --main-rpi-color: #720c0c;
    --main-sel-color: #991f1f;
    --main-yes-color: #318118;
    --trans-bg-color: #830f0fda;
    --trans-rpi-color: #720c0cdf;
}

.container {
    margin: 0px !important;
}

/* Sidebar */
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: 0;
    transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}
#sidebar-wrapper .list-group {
    width: 17vw;
    margin-left: 0vw;
}
#wrapper.toggled #sidebar-wrapper {
    margin-left: -17vw;
}
#page-content-wrapper {
    background-color:whitesmoke;
    transition: margin .25s ease-out;
}
#wrapper.toggled #page-content-wrapper {
    background-color:whitesmoke;
}
.list-group-item{
    border-width: 0px !important;
}

/* Datatable*/
#mydatatable{
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
}
.page-item.active .page-link {
    background-color: var(--main-bg-color) !important;
    border-color: var(--main-rpi-color) !important; 
}
.dataTables_info{
    float: right !important;
}
.dataTables_length{
    float: left !important;
}

/* On smaller screens, where height is less than 640px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 720px) {
    .centrado {
        font-size: 5vh;
    }
    #wrapper.toggled #page-content-wrapper {
        width: 100vw;
        background-color:whitesmoke;
    }
    .list-group{
        min-width: 70vw;
        font-size: 3vh;
    }
    .list-group-item{
        padding: 3vw;
    }
    .list-group input{
        font-size: 3vh;
    }
    #sidebar-wrapper{
        font-size: 3vh;
        min-height: 100vh;
        min-width: 80vw;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -80vw;
    }
    #wrapper.toggled #menu-toggle {
        margin-top: 10px;
        margin-left: 10px;
    }
    .sidebar-login#sidebar-wrapper {
        min-width: 100vw;
    }
    .sidebar-login#page-content-wrapper {
        min-width: 0;
        width: 0;
    }
    .dataTables_info{
        float: none !important;
    }
    .dataTables_length{
        float: none !important;
    }
}

.thead-dark th {
    background-color: var(--main-bg-color) !important;
    border-color: var(--main-rpi-color) !important;
}
.table td{
    border-top: 0px !important;
    border-bottom: 1px solid gray !important;
}

.sidebar-login, #form-login {
    background-color: var(--main-rpi-color) !important;
}

h2.titulo {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#wrapper {
    background-color:whitesmoke;
}
.card {
    border: 0px solid !important;
    padding: 12px;
    background-color: rgba(206, 205, 205, 0.3);
}
.card-header {
    background-color: var(--main-rpi-color);
    color: white; 
}
.card-info {
    font-family: inherit;
    margin: 1em;
    position: relative;
    display: inline !important;
    width: 37%;
    isolation: isolate;
    border: 2px solid var(--main-rpi-color);
    color:white;
    padding: .5em 1.5em;
    background: rgba(0, 0, 0, 0);
}
.card-info:hover{
    color:black;
}
.card-info::after {
    content: '';
    position: absolute;
    inset: 0;
    isolation: isolation;
    z-index: -1;
    background: var(--main-rpi-color);
    transform: scale(1,1);
    transform-origin: left;
    transition: transform 200ms ease;
}
.card-info:hover::after{
    transform: scale(0,1);
    transform-origin: left;
    transition: transform 200ms ease;
}

.modal-content {
    border: 0px solid black !important;
}
.modal-header {
    background-color: var(--main-rpi-color);
    color: white; 
    border: 0px solid black !important;
    font-weight: bolder;
}
.modal-body {
    color: #000000b0; 
    border: 0px solid black !important;
    font-weight: bolder;
}

form div label {
    font-size: 1.2rem;
    font-weight: bolder;
}

.bg-raspi {
    background-color: var(--main-rpi-color) !important;
}
.bg-sel {
    background-color: var(--main-sel-color) !important;
}
.bg-sel::before {
    content: 'h';
    background: white;
    position: absolute;
    inset: 0;
    width: 10px;
    height: 100%;
}

/* Botones */
.btn-secondary {
    background-color: var(--main-rpi-color) !important;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: var(--main-sel-color) !important;
}
.btn-menu {
    background-color: var(--main-rpi-color) !important;
}
.btn-menu:hover, .btn-menu:focus, .btn-menu:active {
    background-color: var(--main-sel-color) !important;
}
.btn-menusb{
    margin: 10px;
    float: left;
    background-color: var(--main-rpi-color) !important;
    color: white !important;
    font-weight: bolder;
    font-size: 20px !important;
}
.btn-menusb:Hover {
    background-color: white !important; 
    color: darkslategray !important;
}
.btn-nuevo {
    margin: 10px;
    float: right;
    background-color: var(--main-rpi-color) !important;
    color: white !important;
    font-size: 20px !important;
    font-weight: bolder !important;
}
.btn-nuevo:Hover {
    background-color: white !important; 
    color: darkslategray !important;
    font-weight: bolder !important;
}
.btn-confirmar {
    display: inline;
    position: relative;
    background-color: var(--main-yes-color) !important;
    color: white; 
    border: 1px solid darkslategray !important;
    font-weight: bolder;
}
.btn-confirmar:hover { 
    background-color: white !important;
    color: black;
    font-weight: bolder;
}
.btn-cancelar{
    display: inline;
    background-color: var(--main-rpi-color) !important;
    color: white; 
    border: 1px solid darkslategray !important;
    font-weight: bolder;
}
.btn-cancelar:hover{
    background-color: #ffffffab !important;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
.btn-modificar {
    background-color: var(--main-rpi-color) !important;
    color: white !important;
    font-size: 12px;
}
.btn-modificar:hover {
    background-color: white !important; 
    color: var(--main-rpi-color) !important;
}

.centrado{
    margin-left:auto;
    margin-right:auto;
    display:block;
    text-align: center;
}
