/* Sidebar */
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: 0;
    transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}
#sidebar-wrapper .list-group {
    width: 12rem;
}
#page-content-wrapper {
    min-width: 85vw;
    width: 100%;
    background-color:whitesmoke;
}
#wrapper.toggled #sidebar-wrapper {
    margin-left: -12rem;
}
.list-group-item{
    border-width: 0px !important;
}

/* Datatable*/
#mydatatable{
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
}
.page-item.active .page-link {
    background-color: #500505 !important;
    border-color: #720c0c !important; 
}
.dataTables_info{
    float: right !important;
}
.dataTables_length{
    float: left !important;
}

/* On smaller screens, where height is less than 640px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 720px) {
    .centrado {
        font-size: 5vh;
    }
    #wrapper.toggled #page-content-wrapper {
        width: 100vw;
        background-color:whitesmoke;
    }
    .list-group{
        min-width: 70vw;
        font-size: 3vh;
    }
    .list-group-item{
        padding: 3vw;
    }
    .list-group input{
        font-size: 3vh;
    }
    #sidebar-wrapper{
        font-size: 3vh;
        min-height: 100vh;
        min-width: 80vw;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -80vw;
    }
    #wrapper.toggled #menu-toggle {
        margin-top: 10px;
        margin-left: 10px;
    }
    .sidebar-login#sidebar-wrapper {
        min-width: 100vw;
    }
    .sidebar-login#page-content-wrapper {
        min-width: 0;
        width: 0;
    }
    .dataTables_info{
        float: none !important;
    }
    .dataTables_length{
        float: none !important;
    }
}

.thead-dark th {
    background-color: #500505 !important;
    border-color: #720c0c !important;
}

.sidebar-login, #form-login {
    background-color: #720c0c !important;
}

h2.titulo {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#wrapper {
    background-color:whitesmoke;
}
.card {
    border: 0px solid !important;
    padding: 12px;
}
.card-header {
    background-color: #720c0c;
    color: #ffffff; 
}

.modal-content {
    border: 0px solid #000000 !important;
}
.modal-header {
    background-color: #720c0c;
    color: #ffffff; 
    border: 0px solid #000000 !important;
    font-weight: bolder;
}
.modal-body {
    color: #000000b0; 
    border: 0px solid #000000 !important;
    font-weight: bolder;
}

form div label {
    font-size: 1.2rem;
    font-weight: bolder;
}

.bg-raspi {
    background-color: #720c0c !important;
}

/* Botones */
.btn-secondary {
    background-color: #720c0cdf !important;
}
.btn-secondary:hover .btn-secondary:focus, .btn-secondary:active {
    background-color: #720c0c !important;
}
.btn-menu {
    background-color: #720c0c !important;
}
.btn-menu:hover, .btn-menu:focus, .btn-menu:active {
    background-color: #991f1f !important;
}
.btn-menusb{
    margin: 10px;
    float: left;
    background-color: #830f0fda !important;
    color: #ffffff !important;
    font-weight: bolder;
    font-size: 20px !important;
}
.btn-menusb:Hover {
    background-color: #ffffff !important; 
    color: #000000ab !important;
}
.btn-nuevo {
    margin: 10px;
    float: right;
    background-color: #830f0fda !important;
    color: #ffffff !important;
    font-size: 20px !important;
    font-weight: bolder !important;
}
.btn-nuevo:Hover {
    background-color: #ffffff !important; 
    color: #000000ab !important;
    font-weight: bolder !important;
}
.btn-confirmar {
    display: inline;
    position: relative;
    float: right;
    background-color: #318118 !important;
    color: rgb(255, 255, 255); 
    border: 1px solid #000000b0 !important;
    font-weight: bolder;
}
.btn-confirmar:hover { 
    background-color: #ffffff !important;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
.btn-cancelar{
    display: inline;
    background-color: #720c0c !important;
    color: #ffffff; 
    border: 1px solid #000000b0 !important;
    font-weight: bolder;
}
.btn-cancelar:hover{
    background-color: #ffffffab !important;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
.btn-modificar {
    background-color: #720c0c  !important;
    color: #ffffff !important;
    font-size: 12px;
}
.btn-modificar:hover {
    background-color: #ffffff !important; 
    color: #720c0c  !important;
}

.centrado{
    margin-left:auto;
    margin-right:auto;
    display:block;
    text-align: center;
}
